!!!XHTML
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html", :charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=480, user-scalable=no"}
    %title= app_name
    %link{:rel => :stylesheet, :href => "/style.css"}
    != yield_content :html_head
  %body
    %div#toolbar
      != yield_content :toolbar

    %div#header
      != yield_content :header
    %div#content
      != yield
      %hr
      %div#footer
        != yield_content :footer
        - url = "https://github.com/shokai/arduino_ir_remote"
        %a{:href => url}= url
    != yield_content :html_foot
